/* Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vw;
    color: #323232;
    border: none;
}

body{
    background-image: url(./img/back-login.gif);
    background-size: cover;
}

textarea:focus, input:focus{
    outline: none;
}

a, label {
    font-size: .8rem;
}

a:hover {
    color: #085588;
}

/* Container Login */

#login-container {
    background-color: white;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem;
    margin-top: 10vh;
    border-radius: 1rem;
    text-align: center;

}

/* Formulário */

form {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    border-bottom: .15rem solid black;
    padding: .5rem;
    font-size: 1rem;    
    margin-bottom: 1rem;
}

input:focus {
    border-bottom:  .15rem solid rgb(47, 45, 190);
}

#forgot-pass {
    text-align: right;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    border: none;
    height: 2.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    color: white;
    background-color: rgb(17, 0, 255);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(6, 0, 77);
    transition: .4s;
}


/* Redes Sociais */

#social-container, #social-container p {
    margin-bottom: 1rem;
}

#social-container img {
   text-align: center;
   margin: 0 5px;
   cursor: pointer;
   width: 2rem;
   height: 2rem;
}


/* Register */

#register-container p {
    margin-bottom: 1rem;
}

#coppyright {
    text-align: center;
    padding: 0 1rem;
    margin: 15rem 10rem;
    display: block;
}